html
{
	font-size: 10px;
}

body
{
	padding: 0;
	margin:  0;
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

@media (max-width: 767px)
{
  .section1-m, .section2-m, .section3-m

  .section1-m
{
  position: relative;
  float: left;
  left: 3%;
  height: 15rem;
  width: 90%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;  
}

.section2-m
{
  position: relative;
  float: left;
  left: 3%;
  top:10%;
  
  height: 15rem;
  width: 90%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;

}

.section3-m
{
  position: relative;
  float: left;
  left: 3%;
  top: 30%;
  height: 15rem;
  width: 90%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;

}


}

@media (min-width: 768px) and (max-width: 991px)
{ .section1-l, .section2-l, .section3-l

  .section1-l
{
  position: relative;
  float: left;
  
  height: 20rem;
  width: 40%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;  
}

.section2-l
{
  position: relative;
  float: left;
  left: 4%;
  height: 20rem;
  width: 55%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;

}

.section3-l
{
  position: relative;
  float: left;
  
  top:15%;
  height: 20rem;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;


}


}

@media(min-width: 992px)
{ 
  .section1-d, .section2-d, .section3-d

  .section1-d
{
  position: relative;
  float: left;
  left: 3%;
  height: 20rem;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;  
}

.section2-d
{
  position: relative;
  float: left;
  left: 6%;
  height: 20rem;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;

}

.section3-d
{
  position: relative;
  float: left;
  left: 9%;
  height: 20rem;
  width: 30%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: #450098;

}


}


.main
{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #546398;
}

.heading
{
  position: relative;
  float: left;
  height: 7rem;
  width: 100%;
  text-align: center;
  line-height: 8.5rem;
  font-size: 40px;
  font-family: "Roboto";
  font-style: italic;
  color: #EBEBEB; 


}

.sections
{
  position: relative;
  float: left;
  height: 30rem;
  width: 100%;
  font-family: "Roboto";
  box-sizing: border-box;
  padding: 5rem;

}




.headerChicken span
{
  position: relative;
  float: right;
  height: 4rem;
  width: 40%;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 17px;
  color: #343598;
  background-color: orange;  
}

.bodyChicken
{ 
  position: relative;
  float: left;
  height: 10rem;
  width: 100%; 
  box-sizing: border-box;
  padding: 2rem;
  font-size: 14px;
  color: white;
  font-weight: 900; 

}





.headerBeef span
{
  position: relative;
  float: right;
  height: 4rem;
  width: 40%;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 17px;
  background-color: red;
  color: yellow;

}

.bodyBeef
{ 
  position: relative;
  float: left;
  height: 10rem;
  width: 100%; 
  box-sizing: border-box;
  padding: 2rem;
  font-size: 14px;
  font-weight: 900;
  color: white ;
}






.headerSushi span
{
  position: relative;
  float: right;
  height: 4rem;
  width: 40%;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
  box-sizing: border-box;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 17px;
  background-color: pink;
  color: brown;
}

.bodySushi
{ 
  position: relative;
  float: left;
  height: 10rem;
  width: 100%; 
  box-sizing: border-box;
  padding: 2rem;
  font-size: 14px;
  font-weight: 900;
  color: white;
}